.hero-swiper::part(button-prev),
.hero-swiper::part(button-next) {
  color: white;
  background: transparent; /* removes background */
  width: 56px;
  height: 56px;
  border-radius: 0; /* removes rounded corners */
  backdrop-filter: none; /* optional – removes blur if you don’t want it */
  transition: all 0.3s ease;
}
    .hero-swiper::part(button-prev):after,
    .hero-swiper::part(button-next):after {
      font-size: 20px;
      font-weight: 900;
    }

    .hero-swiper::part(pagination) {
      bottom: 40px !important;
    }

    .hero-swiper::part(bullet) {
      background: rgba(255, 255, 255, 0.5);
      width: 10px;
      height: 10px;
      opacity: 1;
      transition: all 0.3s ease;
    }

    .hero-swiper::part(bullet-active) {
      background: white;
      width: 30px;
      border-radius: 5px;
    }

    @media (max-width: 1200px) {
      h1 {
        font-size: 60px !important;
      }
    }


.hero-swiper::part(pagination) {
  display: none !important;
}
